	  <table width="450" border="0" align="left" cellpadding="0" cellspacing="0" class="devi-wid">
          <tr>
	  <td valign="top" height="450">
		<div style="margin:25px 20px 20px; font-size:16px; color:silver;  border:1px solid #888; ">
		<div style="background-color:green; color:aqua; font-size:20px;padding:8px 10px;">Offer Details</div>
			        >>> Welcome drink on arrival.<br/>
		<div style="padding:8px; line-height:30px;">
		>>> Valid for 3 Days + 2 Nights.<br/>
		>>> Valid for 2 Adults & 2 Kids(Upto 5 years).<br/>
		>>> 25 Listed Destinations in India & 9 Overseas.<br/>
		>>> Pickup & Drop Facility Available.<br/>  
		>>> 2 Breakfasts + 2 Dinners.<br/>
		>>> Package valid for 7 months only.<br/>
		>>> Get 7000 Redemption Points & can be Redeemed on Kandeal Portal.<br/>
		>>> Minimum 60 days advance booking from the date of travel.<br/>		
				</div>
		</div>
		</td>
	  </tr>
      </table>  
